doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    script(src='https://cdn.tailwindcss.com')
    title Petticrew stylee
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Schoolbell&display=swap' rel='stylesheet')

main#main
    .h-full.min-h-screen.w-screen.bg-slate-900.flex.flex-col.content-center.align-center
        .bg-slate-10.m-auto.px-6.align-center(style='max-width: 650px')
            h1.heading.text-8xl.text-amber-200.text-sans.font-bold.mb-6 !{title}
            block content
            .mt-12
                block above
block scripts
